body {
    background-color: rgb(49, 57, 165);
    display: grid;
    grid-template-rows: 50px 50px 50px 30px 30px 30px 50px 50px 50px;
    grid-template-columns: 25% 1fr 25%;
    grid-row-gap : 20px;
    grid-column-gap : 15px;
}

#bloc1 {
    background-color: rgb(247, 247, 247);
    border-style: dashed;
    border-width: 5px;
    border-color: rgb(233, 35, 28);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    /* width: 230px; */
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

span {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#click {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 85px;
    border-radius: 15%;
}

#top {
    grid-row-start: 4;    
    grid-row-end: 5;
    grid-column-start: 2;    
    grid-column-end: 2;
    width: 40px;
    margin-left: 45%;    
}

#bottom {
    grid-row-start: 6;    
    grid-row-end: 7;
    grid-column-start: 2;    
    grid-column-end: 2;
    width: 40px;
    margin-left: 45%;     
}

#left {
    grid-row-start: 5;    
    grid-row-end: 6;
    grid-column-start: 1;    
    grid-column-end: 2;
    width: 40px;   
    margin-left: 100%; 
}

#right {
    grid-row-start: 5;    
    grid-row-end: 6;
    grid-column-start: 3;    
    grid-column-end: 4;
    width: 40px;
    margin-left: 0%;     
}

.block {
    position:relative;
    /* background-color: #abc; */
    width: 90px;
    height: 90px;
    margin: 5px;
    
    grid-row-start: 8;    
    grid-row-end: 9;
    grid-column-start: 1;    
    grid-column-end: 2;
}

#cachette {
    width: 100px;
    height: 100px;
    
    background-color: rgb(2, 0, 7);
    
    grid-row-start: 8;    
    grid-row-end: 9;
    grid-column-start: 1;    
    grid-column-end: 2;
}





